
<!-- <div class="row">
  <%= render partial: "shared/tags", collection: @tags %>
</div> -->

<!-- <div id="side_container">
  <div class="side_panel">

<p>
  Hello
</p>

  </div>
</div> -->
<div id="content_container">
  <div class="row">
    <div class="mosaic_container">
      <div class="mosaic_content">

      </div>
    </div>


    <div class="side_container">
      <div class="side">
        <div class="side_content">

          <div id="authorize_section">

            <% if current_user.instagram_authenticated? %>
                <h3>Connected Accounts</h3>
                  <ul>
                      <li class="instagram-icon">
                        <%= image_tag "instagram_icon.png", height: 40, width: 40 %>
                        <%= link_to "Unlink your Instagram account",
                              authentication_path(current_user.instagram_authentication),
                              method: :delete %>
                            
                      </li>
                  </ul>

              <% else %>

              <h3>Connect an Account</h3>
                  <ul>
                    <li>
                      <%= link_to user_instagram_omniauth_authorize_path(scope: "basic public_content relationships likes") do %>
                        <%= image_tag "instagram_icon.png", height: 25, width: 25, class: "inactive", data: { toggle: 'tooltip', placement: 'bottom' }, title: "Authorize Instagram" %>
                      <% end %>
                    </li>
                  </ul>
              <% end %>

          </div>

<% if current_user.instagram_authenticated? %>

          <div id="display_section">
            <h3>Create a New Display</h3>

            <%= simple_form_for(@display, as: :display) do |f| %>
                <div class="form-inputs">
                  <%= f.input :name, label: "Name of Display", required: true, autofocus: true %>
                  <%= f.input :active_content, label: "Activate", as: :boolean  %>
                  <%= f.file_field :file, multiple: false, accept: ".jpg, .jpeg, .gif, .png, .mp4, .m4v, .webm, .ogg, .pdf", required: true %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
                </div>
            <% end %>

          </div>

          <div id="entry_section">
            <h3>Create a Entry</h3>

              <%= simple_form_for(@entry, as: :entry) do |f| %>
                  <div class="form-inputs">

                    <%= f.input :display_id, :as => :select, :collection => @displays, :include_blank => 'Select a Display' %>
                    <%= f.input :entry_name, label: "Name of Entry", required: true %>
                    <%= f.input :account_name, label: "@Account" %>
                    <%= f.input :hashtag, label: "#Hashtag" %>
                    <%= f.input :fill_percentage, :as => :slider, :input_html => { :value => "100"}, label: "Set Fill Percentage" %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
                  </div>
              <% end %>

          </div>

<% end %>

          </div>



        </div>
      </div>
    </div>

  </div>

</div>
