

<div id="content_container">



    <div class="side_container">

        <div class="side_content">

          <div id="authorize_section">

            <% if current_user.twitter_authenticated? %>
                <h3 class="textaligncenter">Connected Accounts</h3>
                  <ul>
                      <li class="social-icon">
                        <%= image_tag "twitter_icon.png", height: 40, width: 40 %>
                      </li>
                  </ul>

                  <div id ="unlinkaccount-btn" class="textaligncenter"><%= link_to "Unlink Connected Account",
                              authentication_path(current_user.twitter_authentication),
                              method: :delete, class: "btn btn-primary" %></div>

              <% else %>

              <h3 class="textaligncenter">Connect an Account</h3>
                  <ul>

                    <li>
                      <%= link_to user_twitter_omniauth_authorize_path do %>
                        <%= image_tag "twitter_icon.png", height: 25, width: 25, class: "inactive", data: { toggle: 'tooltip', placement: 'bottom' }, title: "Authorize Twitter" %>
                      <% end %>
                    </li>
                  </ul>
              <% end %>

          </div>

<% if current_user.twitter_authenticated? %>

          <div id="display_section">
            <h3 class="textaligncenter">Create a New Display</h3>

            <%= simple_form_for(@display, as: :display) do |f| %>
                <div class="form-inputs">
                  <%= f.input :name, label: "Name of Display", required: true, autofocus: true %>
                  <%= f.input :active_content, label: "Activate", as: :boolean  %>
                  <%= f.file_field :file, multiple: false, accept: ".jpg, .jpeg, .gif, .png, .mp4, .m4v, .webm, .ogg, .pdf", required: true %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
                </div>
            <% end %>

          </div>

          <div id="entry_section">
            <h3 class="textaligncenter">Create a Entry</h3>

              <%= simple_form_for(@entry, as: :entry) do |f| %>
                  <div class="form-inputs">

                    <%= f.input :display_id, :as => :select, :collection => @displays, :include_blank => 'Select a Display' %>
                    <%= f.input :entry_name, label: "Name of Entry", required: true %>
                    <%= f.input :account_name, label: "@Account" %>
                    <%= f.input :hashtag, label: "#Hashtag" %>
                    <%= f.input :fill_percentage, :as => :slider, :input_html => { :value => "100"}, label: "Set Fill Percentage" %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
                  </div>
              <% end %>

          </div>

<% end %>

          </div>




      </div>


      <div class="mosaic_container">
        <div id="main" class="mosaic_content">
          <!-- <%= render partial: "shared/tags", collection: @tags %>
          <%= render partial: "shared/accounts", collection: @accounts %> -->
          <% @filtered_tweets.shuffle.each do |url|%>
              <article class="thumb">
                <%= image_tag url, class: "image" %>
              </article>
          <% end  %>
        </div>
      </div>

  </div>
